//Colors
$color-white: #ffffff
$color-black: #000000
$color-grey: #777777
$color-brown-light: #BA8554
$color-brown-dark: #A14F03

//Gradient
$linear-gradient-brown-light-to-dark: linear-gradient(90deg, rgba($color-brown-light, 0.702), rgba($color-black, 0.7))

//Shadows
$box-shadow: (0rem .4rem .4rem rgba(0, 0, 0, 0.3))
$shadow-h2: 0 0.4rem 0.4rem rgba($color-black, .25)

//Margins
$margin-vertical-big: 8rem
$grid-width: 114rem
$gutter-horizontal: 6rem

//Typography
$font-size-paragraph: 1.6rem
$font-size-paragraph-h2: 3.6rem
$font-size-paragraph-h3: 2rem
