.section-about
  padding-top: 8rem
  margin-bottom: 20rem
  @include respond(tab-land)
    margin-bottom: 13rem

.section-adventure
  padding: 21rem 0rem
  background: $linear-gradient-brown-light-to-dark, url(../img/section-adventure.jpg) center / cover no-repeat
  transform: skewY(7deg)
  & > *
    transform: skewY(-7deg)
  @include respond(tab-land)
  padding: 15rem

.section-tour
  padding-top: 21rem
  margin-bottom: 8rem

.section-feedBack
  padding: 8rem 0
  position: relative

.section-book
  padding: 10rem
  background: $linear-gradient-brown-light-to-brown-dark
