.header
  height: 95vh
  position: relative
  background: linear-gradient(90deg, rgba($color-brown-light, 0.702) 0.03%, rgba($color-black, 0.7) 99.94%), url(../img/header-background.jpg) center / cover no-repeat
  clip-path: polygon(0 0, 100% 0, 100% 98%, 0 80%)

  @media (min-resolution: 192dpi) and (min-width: 670px), (min-width: 1340px)
    background: linear-gradient(90deg, rgba($color-brown-light, 0.702) 0.03%, rgba($color-black, 0.7) 99.94%), url(../img/header-background-big.jpg) center / cover no-repeat

  &__logo
    height: 7rem
    width: 5.6rem
    position: absolute
    top: 5rem
    left: 5rem
  &__box
    position: absolute
    width: 100%
    top: 40%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center
    @include respond(tab-land)
    top: 50%
